#titulo
{
    border-bottom: 1px solid #F1894C;
}

h4
{
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 2px;
}

p
{
    text-align: center;
    color: #8F918F;
    font-size: 20px;
    font-style: italic;
}

#cajafuera, #mensaje
{
    background-color: #ffffff;
    width: 100%;
}

.fila
{
    padding-top: 30px;
    padding-bottom: 30px;
}