#cajafuerausuario
{
    background-color: #F9F9F9;
    width: 100%;
    height: 100%;
    margin-top: 0;
}

#cajadentrousuario
{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #F9F9F9;
}

.filausuario
{
    margin-bottom: 30px;
}

#titulo-usuario
{
    border-bottom: 1px solid #F1894C;
}

h3
{
    text-align: center;
}

.columna-usuario
{
    text-align: center;
}