.cajaafueralogin
{
    width: 100%;
    background-color: #121212;
}

.cajadentrologin
{
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #F1894C;
    background-color: #121212;
}

.filalogin
{
    margin-bottom: 30px;
}

#titulo-login
{
    text-align: center;
    color: #ffffff;
    font-weight: 600;
    font-size: 34px;
}

.btn-danger
{
    background-color: #F1894C;
    border: 1px solid #F1894C;
}

#login
{
    margin-top: 40px;
}

.login, .logout
{
    width: 100%;
    height: 45px;
}