.container
{
    background-color: #0B0C0D;
    width: 100%;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container-fluid
{
    background-color: #0B0C0D;
}

h2
{
    color: #ffffff;
    font-size: 26px;
    font-weight: 700;
}

a
{
    text-decoration: none;
}

li a
{
    color: #BFBFBF;
    font-size: 14.5px;
    font-weight: 600;
}

li a:hover
{
    color: #ffffff;
}