.container-fluid
{
    background-color: #121212;
    width: 100%;
}

h5
{
    color: #ffffff;
    font-weight: 600;
}

span
{
    color: #F1894C;
    font-weight: 700;
    text-transform: uppercase;
}

#correo
{
    height: 100%;
    width: 100%;
    border-bottom: 1px solid hsla(0,0%,100%,.1);
    padding-top: 45px;
    padding-bottom: 45px;
}

.input-group-text
{
    background-color: #F1894C;
    color: #ffffff;
    border: none;
}

#contacto
{
    height: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
}

h6
{
    color: #ffffff;
    font-weight: 700;
}

.contacto
{
    padding-top: 10px;
    color: #7B807A;
    font-size: 16px;
}

a
{
    text-decoration: none;
}

.redes
{
    color: #7B807A;
    line-height: 10px;
    font-size: 18px;
    font-weight: 700;
}

#copy
{
    background-color: #050404;
    height: 100%;
    width: 100%;
}

#copytext
{
    text-align: center;
    color: #7B807A;
    padding-top: 17px;
    font-size: 16px;
    word-spacing: 3px;
}